body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: goldenrod;
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}

h3 {
  font-size: 10em;
  text-align: center;
  margin-top: 20px;
  color: rgba(218, 165, 32, 0.559);
}